<p> Your new plate is: </p>

<h2> <%= @plate.mains[0].name %> </h2>

<p> with: </p>

<h2> <%= @plate.sides[0].name %> </h2>

<p> and: </p>

<h2> <%= @plate.sides[1].name %> </h2>

<br></br>

<p> Like what you see? </p> 

<form action="/plates/result/<%= @plate.id %>/save" method="POST">
	<input type="submit" value="Save plate">
</form>

<br></br>

<p> Want to try again? </p>

<form action="/plates/result/<%= @plate.id %>/respin" method="POST">
	<input type="submit" value="Spin again">
</form>


