<p> Your new plate is: </p>

<p> Mains: </p>

<% @plate.mains.each do |main| %>

	<%= main.name %>

<% end %>

<p> Sides: </p>

<% @plate.sides.each do |side| %>

	<%= side.name %>

<% end %>


<!-- <h3> <%=@main.name %> </h3>

<p> with </p>

<h3> <%=@side1 %> </h3>

<p> and </p>

<h3> <%= @side2 %> </h3> -->

<label> Like what you see? </label> 

<form action="/result" method="POST">
	<input type="submit" value="Save plate">
</form>

<label> Want to try again? </label>

<form action="/respin" method="POST">
	<input type="submit" value="Spin again">
</form>


